<?xml version="1.0" encoding="utf-8"?>
<!--Copy this and remove example word from filename-->
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
	<SeLocation>c:\program files (x86)\steam\SteamApps\common\SpaceEngineers\Bin64</SeLocation>
  </PropertyGroup>
</Project>